<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blawby.BlawbyAgent</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BlawbyAgent</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Blawby reads Mail to process your emails</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Blawby reads your calendar to keep your schedule current</string>
	<key>NSContactsUsageDescription</key>
	<string>Blawby uses Contacts to enrich email data</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://downloads.blawby.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>0IC6N25L3FuF6YeIUQUPXTEx5YA9LGKQvrz8aUkukbw=</string>
</dict>
</plist>
